/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    /*--ifm-color-primary: #3d2352;
    --ifm-color-primary-dark: #37204a;
    --ifm-color-primary-darker: #341e46;
    --ifm-color-primary-darkest: #2b1939;
    --ifm-color-primary-light: #43275a;
    --ifm-color-primary-lighter: #46285e;
    --ifm-color-primary-lightest: #4f2e6b;*/

    /*--ifm-color-primary: #f67e7d;
    --ifm-color-primary-dark: #f45c5a;
    --ifm-color-primary-darker: #f24a49;
    --ifm-color-primary-darkest: #ef1715;
    --ifm-color-primary-light: #f8a0a0;
    --ifm-color-primary-lighter: #fab2b1;
    --ifm-color-primary-lightest: #fde5e5;*/

    --ifm-color-primary: #00cf9b;
    --ifm-color-primary-dark: #00ba8b;
    --ifm-color-primary-darker: #00b084;
    --ifm-color-primary-darkest: #00916c;
    --ifm-color-primary-light: #00e4aa;
    --ifm-color-primary-lighter: #00eeb2;
    --ifm-color-primary-lightest: #0effc2;

    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .footer {
    background: transparent;
    border-top: 1px solid var(--ifm-contents-border-color);
}

.features_src-pages- h3 {
    text-align: center;
}

.features_src-pages- p {
    text-align: justify;
}

.demo iframe {
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
}

html[data-theme='dark'] .navbar {
    --ifm-navbar-background-color: var(--ifm-background-color);
    --ifm-navbar-shadow: 0 1px 0 var(--ifm-contents-border-color);
}

html[data-theme='dark'] {
    --ifm-contents-border-color: rgba(255, 255, 255, 0.1);
}

.footer__col {
    text-align: center;
}

[class*='playgroundEditorHeader_'] {
    background: rgb(41, 45, 62) !important;
}

[class*='playgroundPreview_'] {
    border: 0 !important;
    padding: 0 !important;
    white-space: normal !important;
}

[class*='playgroundPreview_'] > div {
    padding: 10px !important;
    background-color: rgb(32, 35, 42);
}

[class*='playgroundPreviewHeader_'] {
    background: rgb(32, 35, 42) !important;
}

[class*='codeBlock_'] {
    background-color: rgb(32, 35, 42) !important;
}

[class*='playgroundPreview_'] pre {
    padding: 0 3px;
    box-sizing: border-box;
}

[class*='copyButton_'] {
    top: 0 !important;
    right: 0 !important;
}

.home-tabs > div {
    width: 100%;
}

.home-tabs ul {
    display: flex;
    justify-content: center;
}

.codeBlock_node_modules-\@docusaurus-theme-live-codeblock-src-theme-CodeBlock- {
    padding: 10px !important;
}

.mdxCodeBlock_node_modules-\@docusaurus-theme-classic-src-theme-MDXComponents- {
    overflow: hidden;
}
